body{
    background-image: url("./fundo.png");
    margin: 0;
}
#altf4{
    background-color: white;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#botao{
    background: none;
    border: none;
    color: #12ff80;
    font-size: 20px;

}
#botao1{
    background-color: #12ff80;
    border: #12ff80;
    border-radius: 25px;
    font-size: 20px;
    color: white;
}
