<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Currículo Preview</title>
    <style>
      body {
        background-color: white;
        padding: 20px;
        margin: 0; /* remove margens extras */
        padding: 0;
        width: 210mm; /* largura A4 */
        min-height: 297mm; /* altura A4 */
      }
      @media print {
        html,
        body {
          margin: 0;
          padding: 0;
          height: 297mm; /* altura A4 */
          width: 210mm; /* largura A4 */
          padding: 10mm 0 0 0; /* padding mínimo no topo */
        }

      }
    </style>
  </head>

  <body>
    <h1 id="nome">Nome</h1>
    <hr />
    <br />
    <h3 id="numero">telefone</h3>
    <h3 id="email">email</h3>
    <hr />
    <br />
    <h1>Objetivo</h1>
    <br />
    <p id="objetivo">texto</p>
    <br />
    <hr />
    <br />
    <h1>Resumo</h1>
    <br />
    <p id="resumo">texto</p>
    <br />
    <hr />
    <br />
    <h1>Habilidades</h1>
    <br />
    <p id="habilidades">texto</p>
    <br />
    <hr />
    <br />
    <h1>Educação</h1>
    <br />
    <p id="educacao">texto</p>
    <br />
    <hr />
    <br />
    <h1>Experiência</h1>
    <br />
    <p id="experiencia">texto</p>
    <br />
  </body>
</html>
