<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: white;">
    <h1 id="nome">Nome</h1>
<hr>
<h3 id="Telefone">Telefone</h3>
<h3 id="email">email</h3>
<hr>
<h1>Objetivo</h1>
<p id="areaObjetivo">texto</p>
<hr>
<h1>Resumo</h1>
<p id="areaResumo">texto</p>
<hr>
<h1>Habilidades</h1>
<p id="Habilidades">texto</p>
<hr>
<h1>Educação</h1>
<p id="areaEducacao">texto</p>
<hr>
<h1>Experiencia</h1>
<p id="areaExperiencia">texto</p>


</body>
</html> 
