:root {
  --corDestaque: #12ff80;
  --borda: 15px;

}

body {
  font-family: sans-serif;
  background: var(--corDestaque);
  min-height: 100vh;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
